.main-menu {
  max-width: 1280px;
  width: 100%;
  padding: 30px;
}
.main-menu__nav {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-menu__nav__logo {
  max-width: 140px;
}
.main-menu__nav__list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main-menu__nav--burger-menu {
  display: none;
  position: relative;
}
.main-menu__nav--burger-menu ul {
  z-index: 9999;
  display: none;
  border-radius: var(--border-radios);
  position: absolute;
  box-shadow: 0px 0px 200px 100px rgba(0, 0, 0, 0.44);
  top: 50px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-menu__nav--burger-menu ul li {
  display: block;
  padding: 8px;
}
.main-menu__nav--burger-menu li a {
  font-size: var(--main-font-size);
  color: black;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  width: 100%;
  display: block;
  padding: 8px;
}
.main-menu__nav--burger-menu li {
  padding: 0;
}
.main-menu__nav__list li a {
  font-size: var(--main-font-size);
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .main-menu__nav--burger-menu {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .main-menu__nav {
    display: none;
  }
  .main-menu {
    z-index: 999;
  }
  .main-menu__nav--burger-menu img {
    display: flex;
    cursor: pointer;
    z-index: 99999;
  }
  .menu-icon {
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
  }
}
